@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --main-color: #f082bb;
    --color-fg: aliceblue;
    --secondary-color:skyblue;
}

html {
    background-color: #000000;
    color: var(--color-fg);
    font-family: 'Montserrat', sans-serif;
}

.flexxy {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.logo-top-main {
    width: 200px;
}

.title-top-main {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 2px;
}

.button-main {
    border: none;
    background: none;
    color: var(--secondary-color);
    font-size: 1.2rem;
    padding: 7px 15px 7px 15px;
    letter-spacing: 1px;
    cursor: pointer;
}

.button-main:hover {
    color: var(--main-color);
    background-color: var(--color-fg);
    font-weight: bold;
}

.event-card {
    display: flex;
    width: 70%;
    padding: 5px;
    gap: 10px;
    justify-content: center;
    padding: 15px;
    border: 1px solid #f082bb;
}

.event-card-image {
    width: 20vh;
    height: 20vh;
}

.event-card-title {
    font-weight: bold;
    font-size: 1.1rem;
    letter-spacing: 1px;
    margin-bottom: 3px;
}

.event-card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: var(--color-fg);
    text-align: center;
  }

@media (max-width:480px) {
    .event-card {
        flex-direction: column;
        align-items: center;
    }
}
.galleryContainer {
  max-width: 800px;
  margin: auto;

}
.slides {
   display: none;
 }
.prev, .next {
  cursor: pointer;
  width: auto;
  padding: 16px;
  color: var(--main-color);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  border-radius: 3px 0 0 3px;
  }


.prev:hover, .next:hover {
       background-color: rgba(0,0,0,0.8);
     }

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color:var(--main-color);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
.active, .dot:hover {
    background-color: var(--secondary-color);
}
.caption-text {
  color: var(--color-fg);
  font-size: 15px;
  position: relative;
  bottom: 2px;
  width: 100%;
  text-align: center;
}
.gallery-num-text {
  color: var(--color-fg);
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  top: 0;
}
.fade {
  animation-name: fade;
  animation-duration: 0.5s;
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}